#wrapper {
  width: 1098px;
  height: 800px;
background-color: 	#DCDCDC;
margin: 10px 10px 10px 10px;
padding: 10px;
}

#space {
margin:5px 5px 5px 5px;
width:20px;
height:20px;
padding: 10px;
border: 3px solid 	#DCDCDC;
float: left;
font-family: sans-serif;
}

#element {
margin:5px 5px 5px 5px;
width:20px;
height:20px;
padding: 10px;
border: 3px solid black;
float: left;
background-color:#66ffcc;
font-family:sans-serif;
}

#tafel {
margin:5px 5px 5px 5px;
width: 250px;
height: 20px;
padding:10px;
padding-left: 60px;
border: 3px solid black;
float: left;
font-size: 25px;
font-family:sans-serif;
}

a,a:hover {
  text-decoration: none;
  color: black;
}
